# System files
# ------------

Icon
.DS_Store
.vscode
.idea

# Temporary files
# ---------------

/media/*
!/media/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# Config & license
# ---------------

/site/config/*

# Content
# ---------------

/content/*

# Kirby core, dev and production files
# ---------------

/assets/dist
/kirby
/node_modules
/vendor
