## Node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
# results
npm-debug.log
node_modules

## OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Others
temp

## Kirby
app/.htaccess
app/assets
!app/content/.gitkeep
app/content/*
app/site/accounts/*.php
app/site/cache/*
app/site/config/*.php
app/thumbs/*
!app/thumbs/.gitignore
