.content {
  > * + * {
    margin-top: 1.25rem;
    max-width: 768px;
  }

  > * + h2 {
    margin-top: 2.5rem;
  }

  ul {
    list-style: initial;
    padding-left: 2rem;
  }

  pre,
  figure {
    max-width: 1000px;
  }
}

figure,
picture {
  .content & {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }

  @media (--breakpoint-small) {
    .content & {
      width: calc(100% + 4rem);
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}
