html {
  font-size: 87.5%;

  @media (--breakpoint-not-small) {
    font-size: 100%;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1400px;
  background-color: var(--nearest-white);
  color: var(--eigengrau);

  > header,
  > footer {
    flex-shrink: 0;
  }
}

main {
  flex: 1 0 auto;
}

a {
  color: var(--dark-green);
  text-decoration: none;
  box-shadow: inset 0 -1.5px 0 0 var(--dark-green);
}

a[href^='http']:not([href*='andrewmarino.net'])::after {
  @extend .sr-only;
  content: '(external link)';
}

figure {
  width: 100%;
  margin: 0 0 1rem 0;
  line-height: 0;

  &.fig {
    max-width: 475px;
    margin: 0;
  }

  @media (--breakpoint-large) {
    &.float {
      float: right;
      margin: 0 -150px 1rem 1rem;
    }
  }
}

figcaption {
  font-size: .75rem;
}

img {
  max-width: 100%;

  // Forgot required alt attribute.
  &:not([alt]) {
    border: 5px solid #c00;
  }
}

picture {
  max-width: 475px;

  > img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

footer {
  border-top: 1px solid var(--eigengrau);
}

nav a {
  box-shadow: inset 0 -2px 0 0 transparent;
  transition: box-shadow .3s ease-in-out;

  &.active {
    box-shadow: inset 0 -2px 0 0 var(--dark-green);
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 -1.75rem 0 0 transparentize(#137752, 0.85);
    color: var(--eigengrau);
  }
}

a.lightbox:hover {
  cursor: zoom-in;
}

footer a {
  font-feature-settings: 'smcp', 'zero';
}

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.measure-wide {
  max-width: 578px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

#skip-navigation {
  position: absolute;
  top: 0;
}

::selection {
  background-color: var(--dark-green);
  color: var(--near-white);
}
