html {
  font-size: calc(18px + 0.125vw);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Chivo', sans-serif;
  background-color: var(--eigengrau);
  color: var(--white);

  > header,
  > footer {
    flex-shrink: 0;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  flex: 1 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -1.5px 0 0 currentColor;
}

figure,
picture {
  display: block;
  line-height: 0;
  width: 100%;
  margin: 0 0 1rem 0;
}

figcaption {
  font-size: .75rem;
}

img {
  max-width: 100%;
  height: auto;
}

nav a {
  box-shadow: inset 0 -2px 0 0 transparent;

  &.active {
    box-shadow: inset 0 -2px 0 0 var(--white);
  }
}

code,
pre {
  background: none;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  margin-bottom: 0;
  tab-size: 4;
  hyphens: none;
}

pre {
  background-color: rgb(26,26,26);
  padding: 1rem;
  overflow: auto;
}

code {
  font-size: 0.75rem;
  hyphens: none;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
}

p code {
  border-radius: .3em;
  background-color: gray;
  font-size: 1rem;
  color: black;
  padding: .15em .2em .05em;
  white-space: normal;
}

a.lightbox:hover {
  cursor: zoom-in;
}

::selection {
  background-color: var(--accent-light);
  color: var(--white);
}
