html {
  font-size: calc(16px + 0.125vw);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1400px;
  background-color: var(--eigengrau);
  color: var(--white);

  > header,
  > footer {
    flex-shrink: 0;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white);
    color: var(--eigengrau);
  }
}

main {
  flex: 1 0 auto;
}

a {
  color: var(--white);
  text-decoration: none;
  box-shadow: inset 0 -1.5px 0 0 var(--white);
}

a[href^='http']:not([href*='andrewmarino.net'])::after {
  @extend .sr-only;
  content: '(external link)';
}

picture {
  display: block;
}

figure {
  line-height: 0;
}

figure,
picture {
  width: 100%;
  margin: 0 0 1rem 0;

  &.fig {
    max-width: 475px;
    margin: 0;
  }

  .content & {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }

  @media (--breakpoint-large) {
    &.float {
      float: right;
      margin: 0 -150px 1rem 1rem;
    }

    .content & {
      width: calc(100% + 4rem);
      margin-left: -2rem;
      margin-right: -2rem;
    }
  }
}

figcaption {
  font-size: .75rem;
}

img {
  max-width: 100%;
  height: auto;

  // Forgot required alt attribute, ya dingus.
  &:not([alt]) {
    border: 5px solid #c00;
  }
}

nav a {
  box-shadow: inset 0 -2px 0 0 transparent;

  &.active {
    box-shadow: inset 0 -2px 0 0 var(--white);
  }
}

a.lightbox:hover {
  cursor: zoom-in;
}

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.measure-wide {
  max-width: 640px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

#skip-navigation {
  position: absolute;
  top: 0;
}

:focus:not([tabindex='-1']) {
  outline: 4px solid var(--light-blue);
  outline-offset: 2px;
}

::selection {
  background-color: var(--green);
  color: var(--white);
}
