.serif {
  font-family: 'Georgia', serif;
}

.sans-serif {
  font-family: 'Chivo', sans-serif;
}

h1,
h2,
h3 {
  @extend .serif;
  line-height: 1.25;
  font-weight: 400;
  color: inherit;
}

h1, .h1 {
  @apply text-4xl;
}

h2, .h2 {
  @apply text-2xl;
}

h3, .h3 {
  @apply text-xl;
}

abbr {
  @extend .serif;
  letter-spacing: .75px;

  &[title] {
    text-decoration: none;
  }
}

blockquote {
  @extend .serif;
  font-size: 1.5rem;
}

time {
  display: block;
  font-style: italic;
}
