:root {
  --eigengrau: rgb(22,22,29);
  --gray: rgb(170,170,170);
  --nearest-white: rgb(250,250,250);
  --white: rgb(255,255,255);
  --accent-light: rgb(42, 108,176);
  --accent-dark: rgb(144, 205, 244);
}
