.lazy.lazyload,
.lazyloading {
  color: transparent;
  opacity: 0;
  transition: opacity 300ms;
}

.no-js .lazyload,
.lazyloaded {
  color: inherit;
  opacity: 1;
}

.ls-blur-up-img {
  opacity: 1;
  transition: opacity 1200ms;
}

.ls-inview.ls-original-loaded {
  opacity: 0;
}
