.ratio-container {
  position: relative;

  > img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.ratio-container::after {
  display: block;
  background-color: var(--gray);
  height: 0;
  width: 100%;
  content: '';
}

[data-aspect-ratio='0.75']::after {
  padding-top: calc(667 / 500 * 100%);
}

[data-aspect-ratio='0.8']::after {
  padding-top: calc(375 / 300 * 100%);
}

[data-aspect-ratio='1']::after {
  padding-top: 100%;
}

[data-aspect-ratio='1.25']::after {
  padding-top: calc(480 / 600 * 100%);
}

[data-aspect-ratio='1.33']::after {
  padding-top: 75%;
}

[data-aspect-ratio='1.5']::after {
  padding-top: 75%;
}

[data-aspect-ratio='1.74']::after {
  padding-top: calc(1450 / 2528 * 100%);
}
